.App {
  padding: 0 2em 2em 2em;
}

body.dark-mode {
  background-color: #222;
}

.dark-mode a {
  color: #fff;
}

a {
  color: #424242;
  text-decoration: none;
}

a.name:hover {
  border-bottom: 1px dashed;
}
